//====================================================================================================

//Burger

.icon-menu {
	display: none;

	svg {
		width: 29px;
		height: 22px;

		use {
			fill: #fff;
		}
	}

	@media (max-width: $lg) {
		display: block;
	}
}

//========================================================================================================================================================

.header {
	padding: rem(31) 0;
	margin-bottom: rem(30);

	.main-page & {
		position: absolute;
		z-index: 10;
		left: var(--left-sidebar);
		right: 0;
		margin-bottom: rem(0);

		@media (max-width:$lg) {
			padding: 0;
			position: static;
			z-index: auto;
		}
	}

	@media (max-width:$lg) {
		height: 70px;
		padding: 0;
		background: #363636;
	}

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;

		.main-page & {
			padding-left: rem(52);
			padding-right: rem(90);
			max-width: 100%;

			@media (max-width:$pc) {
				padding-right: rem(50);
			}

			@media (max-width:$xl) {
				padding-left: rem(39);
				padding-right: rem(38);
			}

			@media (max-width:$lg) {
				padding-left: rem(20);
				padding-right: rem(31);
			}
		}

		@media (max-width:$lg) {
			height: 100%;
			align-items: center;
			padding-left: rem(20);
			padding-right: rem(31);
		}
	}

	// .header__logo

	&__logo {
		@media (min-width:$lg) {
			width: 212px;
			height: 32px;
		}

		@media (max-width:$lg) {
			display: flex;
			align-items: center;
			gap: 16px;
		}
	}

	// .header__logo-image

	&__logo-image {
		width: 100%;
		height: 100%;

		@media (max-width:$lg) {
			width: 138px;
			height: 20px;
		}

		use {
			fill: #535559;

			@media (max-width:$lg) {
				fill: #fff;
			}

			.main-page & {
				fill: #fff;
			}
		}
	}

	// .header__logo-mobile

	&__logo-mobile {
		width: 64px;
		height: 25px;

		use {
			fill: #fff;
		}

		@media (min-width:$lg) {
			display: none;
		}
	}

	// .header__contacts

	&__contacts {
		display: flex;
		align-items: center;
	}

	// .header__link

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;


		// .header__link_mail

		&_mail {}

		// .header__link_phone

		&_phone {
			margin-left: rem(40);
		}

		// .header__link_telegram

		&_telegram {
			margin-left: rem(23);
		}

		// .header__link_vk

		&_vk {
			margin-left: rem(34);
		}
	}

	// .header__link-icon

	&__link-icon {
		use {
			fill: #535559;

			@media (max-width:$lg) {
				fill: #fff;
			}

			.main-page & {
				fill: #fff;
			}
		}

		.header__link_mail & {
			width: 29px;
			height: 24px;
		}

		.header__link_phone & {
			width: 27px;
			height: 27px;
		}

		.header__link_telegram & {
			width: 31px;
			height: 27px;
		}

		.header__link_vk & {
			width: 37px;
			height: 24px;
		}
	}

	// .header__dropdown

	&__dropdown {
		.dropdown__button {
			gap: 0;

			&::after {
				background: url("../img/icons/arrow-dropdown-black.svg") center no-repeat;

				@media (max-width:$lg) {
					background: url("../img/icons/arrow-dropdown-white.svg") center no-repeat;
				}

				.main-page & {
					background: url("../img/icons/arrow-dropdown-white.svg") center no-repeat;
				}
			}
		}

		.dropdown__block {
			background-color: #fff;
			padding: rem(5) rem(10);
			width: max-content;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			top: calc(100% + 10px);

			a {
				display: block;

				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	// .header__menu

	&__menu {
		@media (min-width:$lg) {
			display: none;
		}
	}
}

.menu-mobile {

	// .menu-mobile__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: 28px;
	}

	// .menu-mobile__button-search

	&__button-search {
		width: 28px;
		height: 27px;

		svg {
			width: 100%;
			height: 100%;

			use {
				fill: #fff;
			}
		}
	}

	// .menu-mobile__icon

	&__icon {}

	// .menu-mobile__wrapper

	&__wrapper {
		position: fixed;
		inset: 0;
		background: #363636;
		z-index: 15;
		align-content: start;
		transform: translateY(-100px);
		transition: all 0.3s ease 0s;
		display: grid;
		opacity: 0;
		visibility: hidden;

		.menu-open & {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	// .menu-mobile__header

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #979797;
		padding: rem(21) rem(20);
	}

	// .menu-mobile__close

	&__close {
		width: 23px;
		height: 23px;

		svg {
			width: 100%;
			height: 100%;

			use {
				fill: #fff;
			}
		}
	}

	// .menu-mobile__main

	&__main {
		overflow: auto;
		height: 100%;
	}

	// .menu-mobile__links

	&__links {
		padding: rem(28) rem(20);
		border-bottom: 1px solid #979797;

		.left-sidebar__links {
			grid-template-columns: repeat(2, 1fr);
			text-align: left;
			gap: 20px;
		}

		.left-sidebar__link {
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
		}
	}
}