.product-card {
   display: grid;
   grid-template-rows: auto 1fr;
   height: 100%;
   position: relative;

   // .product-card__top

   &__top {
      position: relative;
      margin-bottom: rem(14);
      min-width: 0;
      min-height: 0;
   }

   // .product-card__labels

   &__labels {
      position: absolute;
      color: #fff;
      z-index: 1;
      left: 10px;
      bottom: 11px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
   }

   // .product-card__label

   &__label {
      display: block;
      background: #000;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      border-radius: 3px;
      padding: rem(3) rem(11);
      // .product-card__label_pink

      &_pink {
         background: #6236ff;
      }

      // .product-card__label_blue

      &_blue {
         background: #17a7e0;
      }
   }

   // .product-card__slider

   &__slider {

      .swiper-button-prev,
      .swiper-button-next {
         height: 32px;
         width: 32px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);

         svg {
            width: 100%;
            height: 100%;

            use {
               fill: #808080;
            }
         }
      }

      .swiper-button-prev {
         left: 0;
      }

      .swiper-button-next {
         right: 0;
      }
   }

   // .product-card__wrapper

   &__wrapper {}

   // .product-card__slide

   &__slide {}

   // .product-card__image-ibg

   &__image-ibg {
      padding-bottom: 140%;
      display: block;

      img {
         object-fit: contain;
      }

      // @media (max-width:em(1499.98)) {
      //    height: 379px;
      // }

      // @media (max-width:$xl) {
      //    height: 410px;
      // }

      // @media (max-width:$lg) {
      //    height: 590px;
      // }

      // @media (max-width:$md) {
      //    height: 480px;
      // }

      // @media (max-width:$sm) {
      //    height: 300px;
      // }

      // @media (max-width:$xs) {
      //    height: 256px;
      // }

      // .products-slider & {
      //    height: 528px;

      //    @media (max-width:$xxl) {
      //       height: 482px;
      //    }

      //    @media (max-width:$xl) {
      //       height: 570px;
      //    }

      //    @media (max-width:$md) {
      //       height: 436px;
      //    }

      //    @media (max-width:$sm) {
      //       height: 256px;
      //    }

      //    @media (max-width:$xxs) {
      //       height: 420px;
      //    }
      // }
   }

   // .product-card__content

   &__content {
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (max-width:$sm) {
         padding: rem(0) rem(10);
      }
   }

   // .product-card__name

   &__name {
      margin-bottom: rem(15);
      display: block;
      flex: 1 1 auto;
      overflow-wrap: anywhere;
   }

   // .product-card__price

   &__price {
      display: flex;
      margin-bottom: rem(13);
   }

   // .product-card__price-num

   &__price-num {
      font-weight: 600;
      font-size: 18px;
      color: #000;
      margin-right: rem(8);

      @media (max-width:$sm) {
         font-size: 16px;
         margin-right: rem(6);
      }
   }

   // .product-card__price-text

   &__price-text {
      font-weight: 400;
      font-size: 15px;
      color: #7d7d7d;

      @media (max-width:$sm) {
         font-size: 9px;
      }
   }

   // .product-card__buttons

   &__buttons {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 11px;

      @media (max-width:em(1499.98)) {
         .main-catalog__content & {
            grid-template-columns: 1fr;
            justify-items: start;
         }
      }

      @media (max-width:em(679.98)) {
         grid-template-columns: 1fr;
      }
   }

   // .product-card__btn

   &__btn {}
}